.navbar{
    background: #E9ECEF !important;
}
.jumbotron{
    text-align: center;
}
a.btn.btn-primary.btn-lg{
    background: gray !important;
    border-radius: 1em !important;
    border: none !important;
}
h1.display-3{
    color: darkgray;
}
p.lead{
    color: darkgray;
}
.jumbotron > p{
    color: darkgray;
}